body {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  margin: 0;
}

.container {
  max-width: 680px;
  margin: 0 auto;
  padding: 40px 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}

.header-links {
  > a {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: rgb(15, 23, 42);
    text-decoration: none;

    &:not(:last-of-type) {
      margin-right: 16px;
    }
  }
}

.articles {
  > article {
    &:not(:last-of-type) {
      margin-bottom: 48px;
    }

    > a {
      display: block;
      margin-bottom: 24px;
      color: rgb(17, 24, 39);

      > h2 {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        margin: 0;
      }

    }

    > .article-excerpt {
      color: rgb(55, 65, 81);
      font-size: 16px;
      line-height: 28px;
    }
  }
}

.article {
  article {
    > .article-header {
      border-bottom: 1px solid rgb(229, 231, 235);
      margin-bottom: 16px;

      > h1 {
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        margin: 0 0 8px 0;
        color: rgb(17, 24, 39);
      }

      > .article-excerpt {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 24px;
        color: rgb(51, 65, 85);
      }
    }

    > .article-body {
      > p {
        margin: 20px 0;
        color: rgb(55, 65, 81);
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
      }

      > blockquote {
        border-left: 4px solid rgb(229, 231, 235);
        padding-left: 16px;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        margin-block-start: 24px;
        margin-block-end: 24px;
        margin-inline-start: 0;
        margin-inline-end: 0;
        font-style: italic;
      }

      > h1 {}

      > h2 {
        color: rgb(17, 24, 39);
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
        margin: 48px 0 24px 0;
      }

      > h3 {
        color: rgb(17, 24, 39);
        font-size: 20px;
        line-height: 32px;
        font-weight: 500;
        margin: 32px 0 12px 0;
      }

      > h4 {
        color: rgb(17, 24, 39);
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        margin: 24px 0 8px 0;
      }

      > ul, > ol {
        margin: 0 20px;

        > li {
          padding-left: 6px;
          font-size: 16px;
          line-height: 28px;
          margin: 8px 0;
          color: rgb(55, 65, 81);
          list-style-type: disc;

          &::marker {
            color: rgb(209, 213, 219);
          }

          ul, ol {
            margin: 0 12px;

            > li {
              list-style-type: disc;
            }
          }
        }
      }

      code {
        font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        font-weight: 500;

        &::before, &::after {
          display: inline;
          content: "`";
        }
      }
    }
  }
}